{% include base_path %}

<div class="page__footer-copyright" style="text-align: center; padding: 1.5em 1em;">
  <div style="margin-bottom: 0.3em;">
    <a href="https://twitter.com/sharathguntuku" style="margin: 0 8px;"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/sharathchandra92" style="margin: 0 8px;"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/sharathchandra92" style="margin: 0 8px;"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
    <a href="https://scholar.google.com/citations?user=76_hrfUAAAAJ&hl=en" style="margin: 0 8px;"><i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i></a>
  </div>
  <div style="color: #999; font-size: 0.8em;">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
  </div>
</div>
