<!--Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "url": "https://sharathg.cis.upenn.edu/",
      "additionalName": "Sharath Chandra",
      "description": "Associate Professor (Research) at the University of Pennsylvania",
      "name": "Sharath Chandra Guntuku",
      "jobTitle": "Associate Professor (Research)",
      "worksFor": {
        "@type": "Organization",
        "name": "University of Pennsylvania"
      },
      "sameAs" : [
        "https://www.linkedin.com/in/sharathchandra92",
        "https://github.com/sharathchandra92",
        "https://scholar.google.com/citations?user=76_hrfUAAAAJ&hl=en",
        "https://www.researchgate.net/profile/Sharath_Chandra_Guntuku/"
      ]
    }
</script>
